.footerContainer {
  background: #0e0c1d;
  color: white;
}

.footerContainer div.container {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.footerLogoSocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

ul.footerMenu {
  list-style: none;
  padding: 0;
}

ul.footerMenu li a {
  color: white;
  text-decoration: none;
  /* font-size: 14px; */
  font-weight: 400;
  line-height: 25px;
}

.footerTokenLogo {
  width: 75px;
  height: 45px;
}

.footerTokenPrice {
  display: flex;
  align-items: center;
}

.footerTokenPrice p {
  margin: 0;
}

.footerCopyright {
  color: #808080;
  margin-left: auto;
  margin-right: auto;
}

.footerToken {
  display: flex;
  align-items: center;
}

.availableItem {
  display: flex;
}

.availableItem p {
  margin-left: 10px;
}

.availableItem svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .footerLogoSocial {
    display: flex;
    flex-direction: column;
  }

  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerMenu {
    margin-top: 20px;
  }

  .footerToken {
    margin-top: 20px;
  }

  .availableContainer {
    margin-top: 20px;
  }

  .contactUsContainer {
    margin-top: 20px;
  }
}
