.cardSectionContainer {
  position: relative;
}

.cardSectionBG {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

.cardSectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
}

.cardSectionContent h1 {
  font-size: 24px;
  font-weight: 700;
}

.sectionSeparator {
  height: 2px;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(171, 84, 244, 0),
    rgba(171, 84, 244, 0.5) 25%,
    rgb(255, 255, 255) 50%,
    rgba(171, 84, 244, 0.5) 75%,
    rgba(171, 84, 244, 0)
  );
  margin-top: 32px;
  margin-bottom: 32px;
}

.cardSwiper {
  width: 30%;
  /* height: 320px; */
}

.cardSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardSwiper .swiper-slide img {
  width: 100%;
}

.cardSwiper .swiper-slide .swiper-slide-shadow {
  display: none;
}

@media screen and (max-width: 768px) {
  .cardSwiper {
    width: 50%;
  }

  .cardSectionContent p {
    text-align: center;
  }

  .cardSectionContent {
    width: 85%;
  }
}

@media screen and (max-width: 425px) {
  .cardSwiper {
    width: 50%;
  }
}
